<h1>Editing Book</h1>
<%= form_with model: @list, url: update_list_path(@list.id), method: :patch do |f| %>

  <div>Title</div>
  <%= f.text_field :title %>
  
  <div>Body</div>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %><br>
  <%= link_to "Show", list_path(@list.id) %> |
  <%= link_to "Back", "/lists/new" %>
  
<% end %>