<!DOCTYPE html>
  <html>
  <head>
    <title>WebCampBackendNew</title>
    <meta charset="UTF-8" />
    <meta name="WebCampBackendNew" >
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="stylesheets" href="lists.css" />
  </head>
  <body>
    <p id="notice"></p>
  <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
      　　<tr>
        　　<td><%= book.title %></td>
        　　<td><%= book.body %></td>
        　　<td><%= link_to 'Show', book_path(book) %></td>
        　　<td><%= link_to 'Edit', edit_book_path(book) %></td>
        　　<td><%= link_to 'Distroy', book ,method: :delete, data: {confirm: 'Are you sure?' } %></td>
      　　</tr>
    　　<% end %>
      </tbody>
    </table>
    
    <h2>New book</h2>
    <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this book from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= form_with model: @book, url: '/books', method: :post do |f| %>
        <div class="faied">
          <label>Title</label><br>
          <%= f.text_field :title %>
        </div>
        <div class="faied">
          <label>Body</label><br>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit 'Create book' %>
        </div>
        
      <% end %>
  </body>
</html>
